@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;

.discover {
  padding: 72px 0 176px;

  h2 {
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-400);
    font-size: 100px;
    font-size: clamp(2.25rem, -0.607rem + 7.619vw, 6.25rem);
    line-height: 1.24;
    margin-bottom: 99px;
    text-transform: lowercase;

    &::before {
      display: none;
    }
  }

  &__images {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: 16px;
  }

  &__image {
    display: grid;
    gap: 16px;
  }

  .one, .two {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  .one {
    align-items: flex-end;

    .image--big {
      display: none;
    }
  }

  .two {
    align-items: flex-start;
  }

  &__single {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }

  @include media(desktop-wide) {
    
    &__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;

      img {
        height: 100%;
        aspect-ratio: 14 / 10;
      }
    }

    &__image {
      justify-items: center;
    }

    .one {

      .image--small {
        display: none;
      }

      .image--big {
        display: block;
      }
    }
  }


  @include media(tablet) {
    padding: 40px 0;

    h2 {
      margin-bottom: 20px;
    }
  }

  @include media(mobile-l) {

    &__image {
      display: block;
    }

    &__images {

      img {
        object-fit: contain;
      }
    }

    .one, .two {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}