@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;

.hero, .hero-tours {
  min-height: 900px;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: var(--header-height);
  }

  h1 {
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-400);
    font-size: 136px;
    max-width: 753px;
    line-height: 1.24;
    position: absolute;
    top: 100px;
    right: -70px;
    z-index: 2;

    span {
      white-space: nowrap;
    }
  }

  .title-destinations {
    font-size: 100px;
  }

  &__inner-tours {

    .hero__container {
      gap: 97px;
    }

    h1 {
      position: relative;
      top: 0;
      right: 0;
      max-width: 680px;
    }

    .hero__content {
      padding-top: 187px;
    }
  }

  &__title, &__picture  {
    position: relative;
    width: 100%;
    max-width: 845px;

    img {
      min-height: 650px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--color-black-opacity-50);
    }
  }

  &__picture-tours {
    max-width: 620px;

    &::before {
      display: none;
    }
  }

  &__container {
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    gap: 107px;
    padding: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    height: 100%;
    padding-top: 50px;
    max-width: 416px;
    width: 100%;

    h2 {
      margin: 0 0 16px;
      font-size: 24px;
      max-width: 322px;
      width: 100%;
      line-height: 1.5;
      color: var(--color-white);

      &::before {
        display: none;
      }
    }

    p {
      width: 100%;
      margin-bottom: 182px;
      color: var(--color-white);
      max-width: 322px;
    }

    .btn {
      position: relative;
      max-width: 416px;
      width: 100%;
      font-size: 32px;
      line-height: 1.2;
      justify-content: flex-start;
      padding: 38px 75px;
      white-space: nowrap;
      background-color: transparent;
      color: var(--color-white) !important;
      margin: 0;
      border: 4px solid transparent;
      border-image: url('../images/button-bg.png') 1 round;

      &::after {
        content: '';
        position: absolute;
        right: 75px;
        top: 50%;
        display: block;
        width: 64px;
        height: 64px;
        background-image: url('../images/icons/arrow-white.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        translate: 0 -50%;
      }
    }
  }

  @include media(desktop-wide) {

    h1 {
      font-size: clamp(2.25rem, -8.167rem + 18.519vw, 8.5rem);
    }

    .title-destinations {
      font-size: clamp(2.25rem, -4.417rem + 11.852vw, 6.25rem);
    }

    &__title {

      img {
        min-height: unset;
      }
    }

    &__container {
      padding: 40px 15px;
    }

  }

  @include media(desktop) {
    min-height: 750px;

    &__inner {
      min-height: 750px;
    }

    &__title, &__picture  {

      img {
        min-height: 500px;
        aspect-ratio: 16 / 8;
      }
    }



    &__content {

      p {
        margin-bottom: 80px;
      }
    }
  }

  @include media(tablet-wide) {

    &__content {
      max-width: 350px;

      p {
        margin-bottom: 40px;
      }

      .btn {
        padding: 30px 48px;

        &::after {
          right: 38px;
        }
      }
    }
  }

  @include media(tablet) {
    min-height: 700px;

    &__inner {
      min-height: 700px;
      position: relative;
    }

    &__container {
      flex-direction: column;
      gap: 40px;
    }

    h1 {
      top: 50%;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &__content {
      align-self: center;
    }

    &__title {
      align-self: center;
    }



    &__title, &__picture  {

      img {
        min-height: unset;
      }
    }

    &__picture {

      img {
        aspect-ratio: 16 / 12;
      }
    }

    &__picture-tours {
      align-self: center;
    }

    &__inner-tours {

      h1 {
        top: 0;
        left: 0;
        right: 0;
        transform: translate(0);
        margin: 0 auto;
      }

      .hero__container {
        gap: 40px;
      }

      .hero__content {
        padding: 0;
        align-self: center;
        text-align: center;
      }

    }
  }

  @include media(mobile-l) {
    min-height: 500px;

    &__content {
      max-width: unset;

      h2 {
        max-width: unset;
      }

      p {
        max-width: unset;
      }

      .btn {
        max-width: none;
        width: 100%;
      }

    }

    &__inner-tours {

      .hero__container {
        gap: 20px;
      }
    }

    &__inner {
      min-height: 500px;
    }
  }

  @include media(mobile-m) {
    min-height: 400px;

    &__content {
      padding-top: 20px;
    }

    &__inner {
      min-height: 400px;
    }

    h1 {
      font-size: 28px;
    }
  }

  @include media(mobile-s) {


    &__content {

      .btn {
        padding: 30px 20px;

        &::after {
          right: 20px;
        }
      }
    }


  }

}



